@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* background style */
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)),
    url(./images/pexels-karoldach-409701.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

/* nav */
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  flex: 1;
  text-align: center;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 30px;
  position: relative;
}

.nav-links ul li a {
  color: #ffcb64;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Cabin', sans-serif;
}

/* links underline + hover  */
.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #3a9efd;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

/* hero text  */
.text-box {
  width: 90%;
  color: #ffcb64;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-box h1 {
  font-size: 80px;
  font-family: 'Noto Serif', serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
}

.text-box img {
  width: 800px;
}

/* Animation  */

.text-box img {
  animation: moveFromRight 2s ease-out forwards;
}

@keyframes moveFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* About us */

.about-us {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.about-us h1 {
  color: #333333;
  font-size: 36px;
  font-family: 'Cabin', sans-serif;
  font-weight: 600;
}

.about-us p {
  color: #333333;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

/* car models cards */

.car-models {
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.car-models h1 {
  color: #333333;
  font-size: 36px;
  font-family: 'Cabin', sans-serif;
  font-weight: 600;
}

.row {
  height: 100%;
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
  padding-block: 5rem;
}

.car-col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 3.5rem;
  gap: 3.5rem;
}

.car-article {
  position: relative;
  overflow: hidden;
}

.car-image {
  width: 500px;
  border-radius: 1.5rem;
}

.car-data {
  width: 300px;
  background-color: hsl(0, 0%, 100%);
  padding: 1.5rem 2rem;
  padding-inline: 2.5rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, 0.15);
  border-radius: 1rem;
  position: absolute;
  bottom: -10rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
}

.car-description {
  display: block;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}

.car-title {
  font-size: 20px;
  font-weight: 500;
  color: #333333;
  margin-bottom: 0.75rem;
}

.car-button {
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  color: #333333;
}

.car-button:hover {
  text-decoration: underline;
}

/* naming animations in hover  */
.car-article:hover .car-data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity 0.3s;
}

.car-article:hover {
  animation: remove-overflow 2s forwards;
}

.car-article:not(:hover).car-data {
  animation: remove-data 1s forwards;
}

/* card animation */
@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

/* Footer */
.footer {
  margin: auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #1a1b4b;
}

.footer p {
  font-size: 12px;
  font-weight: 300;
  color: #ffcb64;
}

/* Contact us page style */

.contact-header {
  min-height: 40vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)),
    url(./images/pexels-karoldach-409701.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.contact-header h1 {
  padding-top: 50px;
  margin: 0 auto;
  text-align: center;
  color: #ffcb64;
  font-family: 'Noto Serif', serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
}

.form-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  /* border: 1px solid #3e4491; */
}

.form-group {
  padding: 10px;
  margin-bottom: 20px;
}
.form-container legend {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: 'Cabin', sans-serif;
  color: #333333;
  text-align: center;
}

.form-container fieldset {
  padding: 5px;
  border: 2px solid #3e4491;
  border-radius: 10px;
}
label {
  color: #333333;
  display: block;
  margin-bottom: 5px;
  font-weight: 300;
}

input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #3e4491;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

button {
  background-color: #3e4491;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #3a9efd;
  color: #1a1b4b;
}

/* Gallery Styling  */

.gallery-header {
  min-height: 40vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)),
    url(./images/pexels-karoldach-409701.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.gallery-header h1 {
  padding-top: 50px;
  margin: 0 auto;
  text-align: center;
  color: #ffcb64;
  font-family: 'Noto Serif', serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
}

/* Car details  */
.gallery-models {
  padding: 40px;
}

.car-details {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.1)),
    url(./images/HAN-EV.jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.car-details-et7 {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0)),
    url(./images/row-whale-1.jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.car-details-atlas {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0)),
    url(./images/Dongfeng\ Atlas.jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.info {
  width: 100%;
  padding: 0 7%;
  display: flex;
  align-items: center;
  color: #3a9efd;
  position: absolute;
  bottom: 50px;
  left: 0;
}

.info div {
  margin: 0 20px;
}

.info h2 {
  font-size: 44px;
  font-weight: 400;
  font-family: 'Cabin', sans-serif;
}

.info .line {
  flex: 1;
  background: #3a9efd;
  height: 4px;
}

/* Reviews page style  */
.review {
  max-width: 600px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 50px;
}
.review-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.review-list li {
  margin-bottom: 10px;
}
.review-list li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: #333;
}
.review-list li a img {
  display: block;
  width: 100%;
  max-width: 200px; /* Set maximum width for the images */
  height: auto;
  border-radius: 5px;
  transition: transform 0.3s ease;
}
.review-list li a:hover img {
  transform: scale(1.1); /* Scale up the image on hover */
}
